<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--  Cla: Defines the route prefix for commands. The full route is api/sitecore/cla/{controller}/{action}
            Default: "api/sitecore/cla"
      -->
      <setting name="ClaSettings.Mvc.CommandRoutePrefix" value="api/sitecore/cla/"/>
	  
	  <setting name="Cla.LandingPageRoot" value="{384D09B3-63B7-4E30-BEB3-CD254CB2C463}" />
	  
	  <setting name="Analytics.Reports.Expiration" value="00:00:10"/>
    </settings>
	
	<commands>
			<command name="cla:openapplication" type="SCExtensions.Commands.OpenApplication, SCExtensions" />
			</commands>

    <pipelines>
      <initialize>
        <processor type="Sitecore.Mvc.Pipelines.Initialize.InitializeCommandRoute, Sitecore.Cla.Mvc"
          patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Cla.Mvc']"/>
      </initialize>
      <speak.client.resolveScript>
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Controls, Sitecore.Speak.Client">
          <sources hint="raw:AddSource">
            <source folder="/sitecore/shell/client/sitecore/Applications/CLA"
              deep="true" category="cla" pattern="*.js,*.css" />
          </sources>
        </processor>
      </speak.client.resolveScript>
    </pipelines>
  </sitecore>
  
</configuration>