<?xml version="1.0" encoding="utf-8"?>
<defaultSettings>

  <!-- AVAILABLE FACETS FOR CAMPAIGN CATEGORY DATA.    
    If not provided than all facets are available.       
  -->
  <availableCampaignFacet>
    <!--<facet id="10" name =""/>-->
  </availableCampaignFacet>

  <!-- AVAILABLE REPORTS.
    List of reports available in the dashboard.
    If not provided than all reports are available
  -->
  <availableReports>
    <!-- Dashboard available reports.
    If no reportType is defined here, then all default reports are displayed, otherwise only the defined ones are displayed
    <reportType value="Value"/>
    <reportType value="Visits"/>
    <reportType value="ValuePerVisit"/>  
    <reportType value="ChannelPerformance"/>
    <reportType value="BrandAwareness"/>   
    <reportType value="SourceValue"/>
    <reportType value="SourceValuePerVisit"/>
    <reportType value="SearchKeywords"/>
    <reportType value="EntryPages"/>
    <reportType value="SiteSearch"/>
    <reportType value="Assets"/>
    <reportType value="GoalConversions"/>
    <reportType value="ReferringSites"/>
    <reportType value="List"/>-->
  </availableReports>

  <!-- AVAILABLE FACETS FOR TRAFFIC DATA.    
    If not provided than all facets are available.       
  -->
  <availableTrafficFacets>
    <!--<facet id="10" name =""/>-->
  </availableTrafficFacets>

  <!-- DATA DEFAULT SITE AND LANGUAGE.
    Define the default Site and Language filter for the report data.
    Currently only 1 Site and 1 Language can be defined.
    If no Site is defined here then All Sites is selected.
    If no Language is defined here then All Langugaes is selected.
  -->
  <dataDefaultLanguages>
  </dataDefaultLanguages>
  <dataDefaultSites>
  </dataDefaultSites>

  <!-- REPORTS DATA TIME LIMITS.     
    This session overides the Datelimits settings defined in the Configuration.xml document.
    If "dataIntervalDays" is provided then the dashboard asks for data from UTC.Now and back the number of days specified.
    if no "dataIntervalDays" is provided then the dashboard gets data from UTC.NOw to the "DataTimeFrom".
    if not even "dataTimeFrom" is provided then the Configuration.xml Data limits are used.  
   -->
  <dataTimeFrom value="20080101"/>
  <!--<dataTimeTo value="20120101"/>-->
  <!--<dataIntervalDays value="364"/>-->

  <!-- DEFAULT REPORT.
    Specifies which Report is opened by default, by defining reportDataType, reportType and facet
  -->
  <defaultReport>
    <!--<facet id="10"/>-->
    <reportDataType value="Campaign"/>
    <reportType value="ValuePerVisit"/>
  </defaultReport>

  <!-- NAVIGATIONBAR AND TIMELINE VISIBILITY.
    "hideTimelineAndResolution": hides timeline and resolution selector
    "hideNavigationBar". hides the navigation bar
    "isDisabled": the entire dashboard is disabled (view only)
    "disableMultiReportSelection": true = reports can be mutually exclusive open; false = multiple reports can be open        
  -->
  <navigationAndVisibility>
    <hideTimelineAndResolution value ="true"/>
    <hideNavigationBar value ="true"/>
    <isDisabled value="true"/>
    <disableMultiReportSelection value="true"/>
  </navigationAndVisibility>

  <!-- REPORT DATA TYPES. 
    Select if only Traffic or only Campaign data should be available.
    If none value is provided than both Traffic and Campaigns reports are available
  -->
  <!--<reportDataType value="Traffic"/>
  <reportDataType value="Campaign"/>-->

  <!-- SINGLE CAMPAIGN DASHBOARD DEFINITION.
    Set this value to open the dashboard on a single campaign  
  -->
  <!--<singleCampaign id="{11111111-1111-1111-1111-111111111111}" name="test"/>-->

  <!-- DASHBOARD TIMELINE SETTINGS.
    "timeRangeDateFrom": timeline range start limit
    "timeRangeDateTo": timeline range end limit
    "timeResolution": defines the startup selected time Resolution (Year|HalfYear|Quarter|Month|Weel|Day),
    "timeRangeIntervalSteps" overrides the timeRangeDateFrom and timeRangeDateTo to:
    timeRangeDateFrom = DateTime.UTCNow
    timeRangeDateFrom =  DateTime.UTCNow.AddDays(- timeRangeIntervalSteps  * (number of days in the selected timeResolution))
    "timeRangeUseToDataLastDay" if set to "true" the "timeRangeDateTo" is set to last available report data
-->
  <!--<timeRangeDateFrom value="20091201"/>
  <timeRangeDateTo value="20090201"/>-->
  <timeResolution value="Day"/>
  <timeRangeIntervalSteps value="180"/>
  <timeRangeUseToDataLastDay value ="true"/>

</defaultSettings>